<script type="text/javascript" charset="utf-8" src="/Scripts/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/Scripts/jquery.dataTables.js"></script>

<h2>Index</h2>

<p>
</p>
<table id="TableResultado" class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Vitorias
            </th>
            <th>
                Empates
            </th>
            <th>
                Derrotas
            </th>
            <th>
                GP
            </th>
            <th>
                GC
            </th>
            <th>
                Saldo de Gols
            </th>
            <th>
                Qtd de Jogos
            </th>
            <th>
                Pontos Ganhos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
