@{
    ViewData["Title"] = "Home Page";
}


    <div>
        <p>---------------------------------------</p>
        <p>---------------------------------------</p>

    </div>

<div>
    <table id="ListaResultado" class="table">
        <thead>
            <tr>
                <th>Nome do Time</th>
                <th>Vitórias</th>
                <th>Empates</th>
                <th>Derrotas</th>
                <th>Gols pró</th>
                <th>Gols Contra</th>
                <th>Saldo de Gols</th>
                <th>Qtd de Jogos</th>
                <th>Total de Pontos</th>
            </tr>
        </thead>
        <tbody>
            <td>Palmeiras</td>
            <td>10</td>
            <td>10</td>
            <td>0</td>
            <td>20</td>
            <td>10</td>
            <td>10</td>
            <td>30</td>
            <td>90</td>
        </tbody>
    </table>
</div>
